# .env.example
HA_USER=username
HA_IP=192.168.0.x
HA_PATH=/addons/wallpad-mqtt-bridge

# Docker 로컬 테스트용 - options.json의 값을 덮어씁니다
MQTT_HOST=192.168.0.x
MQTT_USERNAME=username
MQTT_PASSWORD=password
WALLPAD_HOST=192.168.0.x
